<div class="uk-margin-large-top paginate-post">
    <div class="uk-child-width-expand@s uk-grid-large uk-pagi" data-uk-grid>
        <div>
            {% if page.next.url %}
                <div><a class="remove-underline hvr-back" href="{{page.next.url}}">&larr; {{ site.data.translation[site.lang].previous | default: "Previous" | append: " article" }}</a></div>
                <h4>{{page.next.title}}</h4>
                <div class="uk-visible@s uk-text-muted uk-text-small">{{ page.next.excerpt | truncate: 90 }}</div>
            {% endif %}
        </div>
        <div>
            {% if page.previous.url %}
                <div class="uk-text-right"><a class="remove-underline hvr-forward" href="{{page.previous.url}}">{{ site.data.translation[site.lang].next | default: "Next" | append: " article" }} &rarr;</a></div>
                <h4>{{page.previous.title}}</h4>
                <div class="uk-visible@s uk-text-muted uk-text-small">{{ page.previous.excerpt | truncate: 90 }}</div>
            {% endif %}
        </div>
    </div>
</div>
