.contentAreaAPI{
    .api-col-wrap{
        display: flex;
        justify-content: space-between;
        .api-col-right{
            select{
                font:700 14px sans-serif;
                color:#3b4151;
                padding: 5px 20px 5px 5px;
                border: 2px solid #41444e;
                border-radius: 4px;
                -o-appearance: none;
                -ms-appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
                -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
                box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
                text-overflow: ellipsis;
                background: #f7f7f7 url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.418 7.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L10 11l3.418-3.141z"/></svg>') right 10px center no-repeat;
            }
        }
    }
}
#swagger-ui{
    .swagger-ui{
        .topbar, .information-container{
            display: none;
        }
        .swagger-ui{
            > div > .wrapper{
                padding: 0;
            }
        }
    }
}