.uk-list{
    li{
        a{
            padding-right: 60px;
            position: relative;
            svg{
                position: absolute;
                right: 20px;
                top:calc(50% - 10px);
                border: 1px solid $blue;
                border-radius: 50%;
            }
            &:after{
                display:none;
            }
        }
        .linkHead{
            color:$black;
            display: block;
            line-height: 1;
        }
        .linkText{
            color: $menuColor;
            font-size: 16px;
            display: block;
            margin-top: 5px;
            a{
                color: $blue;
                font-size: inherit;
                display: inline;
                padding: 0;
                border: 0;
                &:hover{
                    text-decoration: underline;
                    color: $blue;
                }
            }
        }
    }
}
@media (max-width:991px){
    .uk-list{
        li{
            a{
                padding-right: 40px;
                .linkText{
                    font-size: 14px;
                }
                svg{
                    right:12px;
                }
            }
        }
    }
}
