form{
    label:not(.form-check-label){
        margin: 20px 0 10px;
        display:block;
        .star{
            color: red;
        }
    }
    small.error{
        color: red;
        font-size: 14px !important;
        margin-left: 2px;
        margin-top: 4px;
        text-transform: capitalize;
        display: block;
    }
    input[type="text"], input[type="password"], input[type="email"], select, textarea{
        width: 100%;
        padding: 6px 12px;
        border:1px solid $menuColor;
        outline: 0;
        resize: vertical;
        background-color: #fff;
        &:focus{
            border-color: $blue;
        }
    }
    input[type="radio"], input[type="checkbox"]{
        margin-right: 10px;
    }
    .uk-button{
        width: 100%;
        text-align: center;
    }
}
.formLeft, .formRight{
    width: 50%;
    text-align: left;
    padding-right: 20px;
    float: left;
    margin-bottom: 50px;
    *{
        text-align: left;
    }
}
.formRight{
    padding-left: 20px;
    padding-right: 0px;
}
.colLeft, .colRight{
    width: 50%;
    text-align: left;
    padding-right: 20px;
    float: left;
}
.colRight{
    padding-left: 20px;
    padding-right: 0;
}
@media (min-width:768px){
    .formOuter{
        display: flex;
        .verticalText{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
@media (max-width:991px){
    form{
        label:not(.form-check-label){
            margin: 15px 0 7px;
        }
    }
    .colLeft{
        padding-right: 10px;
    }
    .colRight{
        padding-left: 10px;
    }
    .formLeft{
        padding-right: 15px;
    }
    .formRight{
        padding-left: 15px;
        .uk-list{
            margin-top: 20px !important;
            li{
                margin-top: 15px;
            }
        }
    }
}
@media (max-width:767px){
    .formLeft, .formRight, .colLeft, .colRight{
        padding-right: 0px;
        padding-left: 0px;
        width:100%;
    }
}